body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 40em;
    margin: 0 auto;
}
th {
    text-align: left;
}

.solution,
.discussion,
.issue {
    padding: 20px;
}


.solution:before,
.discussion:before {
    display: block;
    border-bottom: 1px solid black;
}
.solution:before {
    content: 'Oplossing';
}
.discussion:before {
    content: "Discussiepunt";
}

.solution {
    background-color: lightseagreen;
}
.discussion {
    background-color: orange;
}
.issue {
    background-color: black;
}
.issue a {
    color: white;
    font-size: 150%;
}